{% load static %}
<!DOCTYPE html>
<html lang="it">
    <!-- sezione head compressa, al suo interno i link per caricare le risorse del template -->
    <head>
        <!-- ... -->
    </head>
    <body>
        <!-- navbar compressa, al suo interno è presente il menù -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- ... -->
        </nav>
        <div class="container my-4">
            <!-- servirà per inserire i contenuti della pagina -->
            {% block content %}
            {% endblock content %}
            <!-- servirà per inserire il codice javascript -->
            {% block script %}
            {% endblock script %}
        </div>
    </body>
</html>